* {
    box-sizing: border-box;
    font-family: 'Fruktur', cursive;
}

body {
    text-align: center;
    width: 100%;
}

header {
    background-color: rgba(190, 22, 22, 0.733)
}

.Warrior {
    background-color: brown;
}

.Rogue {
    background-color: purple;
}

.Mage {
    background-color: blue;
}

.Hunter {
    background-color: green;
    opacity: 25%;
}

p>.Races {
    padding-bottom: 20%;
}

img {
    width: 160px;
}

.Races>section {
    font-size: 200%;
}

.battleArena {
    display: flex;
    flex-direction: column;
}

.Warrior>.charCheck {
    background-color: brown;
}